.flex-container {

  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

@-webkit-keyframes fade-in {
  0% {opacity: 0.25;}
  100% {opacity: 1;}
}

@keyframes scale-out {
  0% {transform: scale(1)}
  70% {transform: scale(1.2)}
  100% {transform: scale(1)}
}

.body {
  background-color:black;
}

.image {
  opacity: 0.25;
  min-width: 200px;
  max-width: 250px;
  width: auto;
  height: 150px;
  diplay: flex;
}

.container.fade-in .image {
  animation: fade-in 2s linear forwards;
}

.container1 {
          background-color: black;
          height: 100vh;
}
.container2 {
          background-image:url('clogo3.jpg');
          padding-bottom: 20px
}

.round {
  margin: 10px;
}

.logo {
  flex: 1 100%;
  text-align: center;
}

.container.fade-in .logo {
  animation: scale-out 2s ease-in forwards;
}

.player{
  flex: 1;
}

.container3 {
          background-image: url('cellogo3.jpg');
}

.container4 {
          background-color: #cc0000;
}

.container5 {
          background-color: #0066cc;
}

.container {
      border-top: 3px solid lightgrey;
      padding-bottom: 20px
}

.button {
    position: relative;
    background-color: #000;
    border: none;
    font-size: 13px;
    color: #FFF;
    padding: 4px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

@-webkit-keyframes hide-images {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.container.hide-images .image{
  animation: hide-images 2s linear forwards;
}

.inputfelder {
  margin: 5px;
}
.form, textarea {
  border: 2px lightgrey;
  box-shadow: 5px 5px 20px darkslategrey;
  margin: 5px;
  display: block;
  margin: 10px;
  padding: 10px;

}

.meinung {}

.meinung {
  vertical-align: top;
}
